@media screen and (max-width: 1600px) {
	.container {
		width: 1200px;
	}
	
	a.button2 {
		width: 150px;
	}
	.topmenu{
		margin-left: 50px;
	}	
	
	.item-desk {
		grid-template-columns: repeat(4, 200px);
	}
	
}
@media screen and (max-width: 1400px) {
	.enter {
		display:none;
	}
	.container {
		width: 1100px;
	}
	.catalog .container {
	padding: 16px 0;
	overflow: hidden;
	margin: 50px 20px;
	}
	.topmenu {
	margin: 0 100px;
	}

	a.button2 {
		width: 120px;
		font: 14px/18px Arial, sans-serif;
	}
	.discount{
		display: none;
	}
	
	
	header{
		height: 150px;
	}
	
	.sale {
		display: block;
		flex: none;
		width: 900px;
		height: 250px;
		background-size: cover;
		background: url('../images/bigsale2new.jpg')no-repeat;
		margin: 0 100px;
    }
	.wrapper-dropdown {
		width: 150px;
		font: 14px/18px Arial, sans-serif;
		margin-left: 100px;
		z-index: 1;
		margin-left: 160px;
	}
	}
	.article-top{
		gap: 20px;
		
	}
	.product {
		margin: 0 150px;
	}
}
@media screen and (max-width: 1250px) {
	.container {
		width: 1000px;
	}
	
	footer{
		height: 550px;
	}
	footer .container{
        width: 1000px;
        display: flex;
        align-items: center;
		flex-wrap: wrap;
        justify-content: space-evenly;
	}
	.media{
		margin: 0 450px;
	}
	a.button2 {
		width: 115px;
		font: 14px/18px  Arial, sans-serif;
	}
	
	.sale {
		margin: 0 40px;
    }
	
	.item-desk {
		grid-template-columns: repeat(3, 200px);
	}
	
}	
@media screen and (max-width: 1150px) {
	.container {
		width: 800px;
	}
	header{
		height: 100px;
	}
	.sale {
		display:none;
    }
	a.button2 {
		width: 100px;
		height: 40px;
		font: 12px/18px Arial, sans-serif;
	}
	.topmenu{
		margin-left: 5px;
		flex: 0 1 auto;
	}
	.logo{
		display:none;
	}
	.logomin {
		display: block;
		flex: none;
		width: 118px;
		height: 59px;
		background: url('../images/logo_min.jpg') left top no-repeat;
		background-size: cover;
	}
	.searchline{
		height: 30px;
	}
	.phone{
		font: 14px/20px Arial, sans-serif;
	}
	.headerlink,
	.headerlink1{
		display: none;
	}
	.headerlink_min{
		display: block;
		flex: none;
		width: 30px;
		height: 30px;
		margin-top: 2px;
		background: url('../images/enter_min.png') left top no-repeat;
	}
	.headerlink1_min {
		display: block;
		flex: none;
		width: 30px;
		height: 30px;
		background-image: url('../images/basket_min.png');
	}
	
	.item-desk {
		grid-template-columns: repeat(2, 200px);
	}
	.media{
		margin: 0 400px;
	}
	.article-top {
		display:none;
	}
	.article-top_min {
		display: block;
	}
	.bigimage_min {
	width: 550px;
	height: 550px;
	box-sizing: border-box;
	padding: 20px;
	border: 5px solid #007d86;
	border-radius: 5px;
	text-align: center;
	margin-top: 25px;
	}
	fieldset {
	flex-wrap: wrap;
	width: 300px;
	}
}
@media screen and (max-width: 1050px) {
	.container {
		width: 750px;
	}
	
	header{
		height: 150px;
	}
	a.button2 {
		width: 110px;
		height: 40px;
		font: 12px/24px Arial, sans-serif;
		padding: 0;
	}
	.topmenu{
		margin-left: 60px;
	}
	.media{
		margin-left: 350px;;
	}
	.news-desk {
	
	margin-left: 10px;
	margin-top: 55px;
	width: 150px;
	gap: 15px;
	}
	.contacts aside + article {
	margin-left: 200px;
	}
	.wrapper-dropdown {
		margin-top: 10px;
		margin-left: 100px;
	}
	
	
}
@media screen and (max-width: 1020px) {
	.container {
		width: 700px;
	}
	footer{
		height: 950px;
	}
	footer .container {
		width: 700px;
		display: flex;
        align-items: center;
		flex-direction: column;
	}
	footer {
		height: 800px;
		font: 13px/20px Arial, sans-serif;
	}
	footer li.heading {
		font: bold 13px/20px Arial, sans-serif;
		
		
	}
	footer p {
		font: bold 13px/20px Arial, sans-serif;
		
	}
	footer input {
	width: 200px;
	height: 30px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 1px;
	border: none;
}

.email {
		width: 30px;
		height: 30px;
		background: #007d86;
		color: #fff;
	}
	
	
	.media {
		display: none;
		
	}
	.media_min {
		display: block;
		margin-left: 370px;
	}
	
	
}

@media screen and (max-width: 900px) {
	.container {
		width: 650px;
	}
	
	footer .container{
        width: 650px;
        
	}
	.wrapper-dropdown {
		margin-top: 5px;
		margin-left: 265px;
	}
	.item-desk{
		margin-top: 50px;
	}
	
	
	a.button2 {
		width: 150px;
	}
	header{
		height: 200px;
	}
	
	.media_min {
		
		margin-left: 310px;
	}
	
	.catalog article {
		margin-top: 60px;
	}
	.topmenu {
		margin-left: 160px;
	}
	
	.catalog article {
    margin-top: 0;
	margin-left: 100px;
	margin-right: 100px;
	}
	.bigimage_min {
	width: 500px;
	height: 500px;
	box-sizing: border-box;
	padding: 20px;
	border: none;
	text-align: center;
	margin-top: 5px;

}

@media screen and (max-width: 750px) {
	.container {
		width: 550px;
	}
	header{
		height: 200px;
	}
	
	.topmenu {
		margin-left: 100px;
	}
	.media_min{
		margin-left: 233px;
	}
	.product{
	margin-left: 15px;
	
	}
	.catalog article {
    margin-top: 0;
	margin-left: 5px;
	margin-right: 0;
	}
	
}
@media screen and (max-width: 655px) {
	.container {
		width: 500px;
	}
	header {
		height: 250px;
	}
	.table {
		margin-top: 20px;
	}
	.searchline{
		display:none;
	}
	.searchline_min{
		display: flex;
		flex:1 1 auto;
		background: #e5e5e5;
		height: 30px;
		border: 1px solid black;
		border-radius: 5px;	
		width: 300px;
		margin-top: 20px;
	}
	.topmenu {
		margin-right: 0;
		
	}
	.catalog article {
		margin: 80px 100px;
	}
	.item-desk {
		grid-template-columns: repeat(1, 200px);
	}
	.wrapper-dropdown {
		margin-top: 0px;
		margin-left: 240px;
	}
	
	.media_min {
		margin-left: 200px;
	}
	.article-top_min {
	display:none;
	}
	.article-top_min1 {
	display:block;
	margin-top: 0;
	}
	.catalog article {
		margin: 40px 100px;
	}
	.news-desk {
	
	margin: 0 180px;
	width: 200px;
	
	}
	.contacts aside + article {
	margin-left: 100px;
	}
	.contacts {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 555px) {
	.container {
		width: 450px;
	}
	/*.wrapper-dropdown {
		margin-top: 40px;
		
	}
	.news-desk {
	
	margin: 20px 180px;
	
	
	}*/
	
	footer a {
		padding: 5px 5px;
		color: #555;
		width: 200px;
	}
	footer a:hover {
		color: #007d86;
		text-decoration: none;
	}
	.catalog article {
		margin: 40px 50px;
	}
	
}	
@media screen and (max-width: 500px) {
	.container {
	width: 450px;}
	
	/*.catalog article {
		margin: 40px 20px;
	}*/
	
}
@media screen and (max-width: 450px) {
	.container {
		width: 440px;
}
	.topmenu {
		margin: 0 45px;
	
	}
	.wrapper-dropdown {
		margin-left: 110px;
	}
	.item-desk {
		margin-left: -200px;
	}
	.catalog article {
		margin: 40px 20px;
	}
	
}
@media screen and (max-width: 400px) {
	.container {
		width: 390px;
	}
	.topmenu{
		margin-left: 50px;
	}
	.slider4 {
		margin: 0 50px;
	}
	a.button2 {
		width: 100px;
	}
	header{
		height: 250px;
	}
	
	
	.gallery_min {
		
		margin-left: 80px;
	}
	.phone {
		display: none;
	}
	.searchline_min{
		width: 240px;
	}
	
	
	.media_min{
		display: block;
		position: absolute;
		left: 80px;
		top: 1750px;
		margin: 0;
	}
	
}		

