html {
	height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
	display: flex;
    flex-direction: column;
	font: 15px/24px "Open Sans", Arial, sans-serif;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.container {
	width: 1400px;
	margin: 0 auto;
}
header {
	height: 200px;
	flex: none;
	background: white;
	font: 15px/24px "Open Sans", Arial, sans-serif;
	color: #555;
			
}
            
footer {
	height: 400px;
	flex: 0 0 auto;
	background: #e5e5e5;
	font: 15px/24px "Open Sans", Arial, sans-serif;
	color: #555;
}
main {
	flex: 1 0 auto;
	position: relative;
	
}
.screen {
	position: fixed;
	z-index: 1000;
	background: rgba(0, 0, 0, .5);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: all 1.5s ease;
}
.screen.active {
	opacity: 1;
}			
 /* header */
.container1{
	display: flex;
	height: 100%;
	align-items: center;
	gap: 20px;
	
	
}
.logo {
	display: block;
	flex: none;
	width: 230px;
	height: 116px;
	background: url('logo1.jpg') left top no-repeat;
	background-size: cover;
}
.headerlink{
	display: block;
	flex: none;
	width: 30px;
	height: 30px;

}

.searchline{
	flex:1 1 auto;
	background: #e5e5e5;
	height: 50px;
	width: 700px;
	border: 1px solid black;
	border-radius: 5px;	
	
	/*padding: 16px;*/
}
/* topmenu */
.topmenu {
	padding: 12px;
}
.topmenu a {
	display: inline-block;
	margin-right: 8px;
	border-radius: 1px;
	background: #007d86;;
	padding: 4px 8px;
	color: white;
	width: 200px;
	height: 40px;
	text-align: center;
}


/*actions*/
.actionband {
	background:orange;
	color: #fff;
	height: 100px;
}
.actionband.container{
	display:flex;
	height: 100px;
	align-items: center;
	justify-content: center;
}
.discount,
.retaimer,
.sept,
.num {
	font: bold 40px/1 Arial;
}
.toptext,
.subnum {
	font: normal 12px/24px Arial;
	
	
}
.retaimer {
	/*border-left: 1px solid #fff;
	padding: 24px 0 0 24px;
	margin-left: 24px;*/
	position: relative;
	text-align: center;
}
.toptext {
	position: absolute;
	top: -25px;
	left: 24px;
	right: 0;
}
.sept,
.num {
	display: inline-block;
	vertical-align: top;
}
.sept {
	/*padding: 5px 0;*/
}
.num {
	padding-bottom: 24px;
	position: relative;
	min-width: 50px;
}
.subnum {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.discount{
	display: inline-block;
	position: relative;
	top: 40px;
	left: 15px;
	
}
.discount1{
	font: bold 40px/1 Arial;
	display: inline-block;
	position: relative;
	bottom: 65px;
	left: 975px;
	
}
/* slider */

.slider .container,
.slider_desk,
.slider_block {
	width: 1290px;
	height: 360px;
}
.slider .container {
	padding: 16px 78px;
	position: relative;
}
.slider_desk {
	overflow: hidden;
	position: relative;
}
.slider_block {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	/*left: 200%;
	opacity: 0;
	transition: opacity 3s step-start, left 3s ease;*/
}
.slider_block.curr {
	/*opacity: 1;
	left: 0;*/
	z-index: 1;
}
/*.slider_block.prev {
	opacity: 1;
	left: -100%;
}
.slider_block.next {
	opacity: 1;
	left: 100%;
}*/
.slider button {
	position: absolute;
	background: red;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 32px;
	line-height: 46px;
	height: 46px;
	width: 46px;
	top: calc(50% - 23px);
	cursor: pointer;
}
.slider .to_left {
	left: 16px;
}
.slider .to_right {
	right: 16px;
}

.gallery {
		display: flex;
		justify-content: space-around;
		
	}
.gal_unit {
		width: 350px;
		flex: none;
}

footer button {
		width: 237px;
		height: 56px;
		float: right;
		margin-top: 74px;
	}
	
	footer ul {
		margin: 10px 0;
		display: flex;
		flex-direction: column;
		padding-left: 17px;
	}
	footer li {
		flex: 0 0 10px;
		padding-left: 25px;
		letter-spacing: 0.05em;
		list-style-type: none;
	}
	
	footer p {
		font: bold 15px/24px "Open Sans", Arial, sans-serif;
		padding-left: 25px;
	}
	
	footer .container{
                width: 1100px;
               	display: flex;
                align-items: center;
                justify-content: space-evenly;
				
		}
		
footer li a {
	display: inline-block;
	margin-right: 8px;
	
	padding: 2px 2px;
	color: #555;
	width: 200px;
}
footer li a:hover {
	color: #007d86;
	text-decoration: none;
}
footer input {
	width: 250px;
	height: 50px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 1px;
	border: none;
}

.email {
		width: 50px;
		height: 50px;
		background: #007d86;
		
		color: #fff;
		
	}
footer li.heading {
		font: bold 15px/24px "Open Sans", Arial, sans-serif;
		padding-left: 25px;
	}
	
	.media{
	display: inline-block;
	position: relative;
	padding-top: 10px;
	left: 550px;
	
}
footer .copy {
		opacity: 0.4;
		position: relative;
}

/* catalog */
.item-desk {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: auto;
	justify-content: space-evenly;
	row-gap: 20px;
	margin-top: 10px;
}
.item {
	width: 180px;
	padding: 10px;
}
.item h3 {
	margin-top: 0;
}

a.button1 {
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: black;
  font-size: 135%;
  font-weight: 700;
  text-decoration: none;
  padding: .25em .5em;
}
a.button1:after {
  content: "Купить";  
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: -2px;
  width: calc(100% + 6*(1em*105/135) - 2px*2*2);  
  text-align: right;
  color: #fff;
  font-size: 90%;
  padding: .25em .5em;
  border-radius: 5px;
  border: 2px solid #c61e40;
  transform: skewX(-10deg);
  background: linear-gradient(#d4536d, #c61e40) no-repeat 100% 0;
  background-size: calc(6*(1em*90/135) + .5em) 100%;
  box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,0);
  transition: .3s;
}
a.button1:hover:after {
  box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,.2);
}
a.button1:active:after {
  background-image: linear-gradient(#c61e40, #d4536d);
}
/* aside column */
.catalog .container {
	padding: 16px 0;
	overflow: hidden;
}
.catalog aside {
	width: 240px;
	float: left;
}
.catalog aside + article {
	margin-left: 260px;
}

.sale {
	display: block;
	flex: none;
	width: 1140px;
	height: 300px;
	
	background-size: cover;
	
	background: url('bigsale.jpg');
}
/* product */
.article-top {
	display: flex;
	gap:50px;
	margin-bottom: 16px;
}
.gallery_desk {
	flex: none;
}
.price_desk {
	flex: 1 1 auto;
	margin-top: 30px;
}
.bigimage {
	width: 650px;
	height: 650px;
	box-sizing: border-box;
	padding: 20px;
	border: 5px solid #007d86;
	border-radius: 5px;
	text-align: center;
	margin-top: 25px;
}
.bigimage img {
	cursor: pointer;
}
.gallery {
	margin: 10px 0 0;
	padding: 0 24px;
	position: relative;
}
.gallery_window { /* прописываем размеры, оверфлоу и позишн именно здесь, так как это непосредственный родитель .gallery_rail */
	width: 650px;
	height: 63px;
	overflow: hidden;
	position: relative;
}
.gallery_rail {
	display: flex;
	gap: 4px;
	position: absolute; /* движение обеспечиваем за счет свойства left */
	top: 0;
	left: 0;
}
.gallery img {
	padding: 3px;
	border: 1px solid #007d86;;
	cursor: pointer; /* на этот элемент можно кликнуть */
}
.gallery span {
	position: absolute;
	color: #007d86;
	display: none; /* неактивные кнопки скрываем */
	top: 7px;
	cursor: pointer;
	font-size: 43px;
	line-height: 43px;
}
.gallery span.active {
	display: block;
}
.g_left {
	left: 5px;
}
.g_right {
	right: 5px;
}
/* lightbox */
.lightbox {
	position: absolute;
	top: 50px;
	padding: 50px;
	background: white;
	left: 50%;
	border-radius: 50px;
}
.lightbox button {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 15px;
	right: 15px;
	font-size: 40px;
	line-height: 40px;
	color: #007d86;
	transform: rotate(45deg);
	border: none;
	background: none;
}
/*order*/
.table table {
	border-collapse: collapse;
	width: 100%;
}
.table th {
	padding: 8px;
	text-align: left;
	width: 20%;
}
.table td {
	padding: 8px;
	text-align: left;
	width: 20%;
}
.table .id,
.table .delete {
	width: 10%;
}
.table tr:first-child th {
	border-bottom: 2px solid #007d86;
}
.table tr:nth-child(odd) {
  background-color: #b9c4c9;
}
.table tr:nth-child(even) {
  background-color: #e5e5e5;
}
.table th.delete{
	background: url('trash.svg') center center no-repeat;
} 

.table tr:last-child th {
	border-top: 2px solid #007d86;
}
.table td.price::after,
.table td.summa::after,
.table .itog::after {
	content:'\0020\20BD';
}
.table .delete button {
	height: 24px;
	width: 24px;
	border: none;
	padding: 0;
	background: none;
	transform: rotate(45deg);
	font-weight: bold;
	font-size: 24px;
}
.table .delete {
	text-align:center;
	padding: 0;
}
.table .quantity .inner{
	width: 100%;
	height: 24px;
	display: flex;
	align-items: center;

}
.table th.quantity  {
	padding: 8px 40px;
}

.table .quantity span{
	font-size: 24px;
	line-height: 24px;
	flex: 1 1 auto;
	text-align:center;
}
.table .quantity button {
	flex: none;
	height: 24px;
	width: 24px;
	border: none;
	background: none;font-size: 24px;
	line-height: 24px;
	display: block;
}
/*datepicker*/
#calendar {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	width: 500px;
	padding: 50px;
	background: #007d86;
	left: 50%;
	border-radius: 50px;
}
.dp_header {
	text-align: center;
	height: 34px;
}
.dp_header > b {
    font-size: 26px;
	line-height: 34px;
}
.prev, .bigprev, .next, .bignext {
	display: block;
	width: 32px;
    font-size: 18px;
	font-weight: bold;
	line-height: 32px;
	border: 1px solid #999;
	cursor: pointer;
	color: #999;
}
.prev:hover, .bigprev:hover, .next:hover, .bignext:hover {
	color: #000;
	border-color: #000;
}
.prev, .bigprev {
	float: left;
	margin-right: 1em;
}
.next, .bignext {
	float: right;
	margin-left: 1em;
}
.dp_grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: auto;
	margin-top: 1em;
	gap: 11px;
}
.dp_grid > span {
	text-align: center;
	line-height: 60px;
}
.headday {
	font-weight: bold;
	padding: 0.5em;
}
.getter {
	cursor: pointer;
	border: 1px solid #000;
}
.getter:hover {
	background: #999;
}
.holiday {
	color: red;
	border-color: red;
}
.today {
	color: #fff;
	background: green;
}
.holiday.today {
	background: red;
}

/*contacts*/
.contacts .container {
	padding: 16px 0;
	overflow: hidden;
}
.contacts aside {
	width: 140px;
	float: left;
}
.contacts aside + article {
	margin-left: 260px;
}	
h2{
	font-size: 2.133em;
    line-height: 30px;
    font-weight: bold;
}
.news-desk span	{
	font-size: 1.143em;
    font-weight: bold;
}	

h3{
	color: #666;
    font-size: 0.929em;
}
.news a {
	color: #666;
    font-size: 0.929em;
}
.news a:hover {
	color: #007d86;
	text-decoration: none;
}
.news-desk {
	display: flex;
	flex-direction:column;
	border: 1px solid #f2f2f2;
    border-radius: 2px;
	margin-left: 20px;
	margin-top: 40px;
	width: 200px;
	gap: 15px;
}
			
			
			